* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: black;
    list-style: none;
    text-decoration: none;
    
}
  body {
    background: linear-gradient(90deg, white 50%, #808080 90%);
  }

  audio{
  padding: 0;
  margin:0;
  width: 100px;
  height: 50px;
  border-radius: transparent;
}

.imgrepro{
 width: 100px;
 height: 50px;
 border-radius: 20px;
}


  .logo {
    /* filter: brightness(1.1); */
    mix-blend-mode: multiply;
    height: 150px;
    width: 150px;
    cursor: pointer;
  }
  
  .nav .links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 6px;
    border-bottom: 1px;
    
  }



  a{
    color: white;
  }
  .links :hover {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    color: white;
    font-size: 120%;
  }
  
    .ContenidoPrincipal{
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    margin-top: 10px;
    text-align: center;
    height: 100vh;
    

  }

  #videobackground{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    min-height: 100vh;
    object-fit: cover;
    z-index: -1;

  }

  #Titulo{
      
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      order: 1;
      text-align: left;
      width: 400px;
      height: 600px;
      text-transform: uppercase;
      background-image: linear-gradient(
      -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
      );
      background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-emphasis-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 65px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
  }
  #texto{
      color: white;
      margin-top: 50px;
      text-align: center;
      order: 3;
      width: 100vw;
      height: 300px;
      margin-bottom: 10px;
  }



  .imgcontainer{
      order: 2;
      margin-left: 150px;
      margin-top: 10px;
      width: 500px;
      height: 600px;
  }

  .imgprincipal{
    width: 500px;
  }

  footer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100wv;
    height: 50px;
  }

  i{
    color: blue;
  }

  .btncontacto{
    background-color: #808080;
    width: 150px;
    height: 50px; 
      border: none;
    padding: 15px 30px;
    border-radius: 999px;
    font-weight: bold;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
    
    .btn{
        background-color: #808080;
        width: 150px;
        height: 50px; 
          border: none;
        padding: 15px 30px;
        border-radius: 999px;
        font-weight: bold;
        margin: 4px 2px;
        cursor: pointer;
        box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
    }
  /* CARDS */

  .card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: 200px 0px 0px ;
    width: 100vw;
    height: 400px;
  }
  .proyectos{
    width: 100vw;
    height: 600px;
  }
  .card_proyectos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: 50px 0px 0px ;
  }

  .proyecto_tittle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: whitesmoke;
  }

  .card{
    width: 300px;
    height: 350px;
    margin: 10px 50px 10px 10px;
    transition: 0.3s ease;
    border-radius: 10px;
  }

  .card:hover{
    cursor: pointer;
    box-shadow: 0 16px 32px 0 rgb(177, 19, 19);
  }
  .imgcard{
    width: 300px;
    height: 200px;
    border-radius: 10px 10px 0 0;
  }

  .cardtittle{
  width: 300px;
  height: 50px;
  color: whitesmoke;
  font-style: italic;
  font-size: 40px;
  }
  .cardtext{
    color: whitesmoke;
  }
 

   @media (max-width: 576px)
   {
     .nav .links{
       display: flex;
       flex-direction: column;
       color: white;
       margin-bottom: 80px;
       }

      .link:hover{
        font-size: 101%;
      }

      .logo{
        display: none;
      }

      .ContenidoPrincipal{
        flex-direction: column;
        flex-wrap: nowrap;
        height: 350px;
      }

      #Titulo{
        font-size: 2em;
        width: 360px;
        height: 150px;
        text-align: center;

        
      }

      #texto{
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 300px;
        height: 200px;
        color: whitesmoke;
        text-align: center;
      }

      .imgcontainer{
        display: none;
      }
    
      .card-container{
        flex-direction:column;
        width: 100vw;
        height: 1500px;
        margin-top: 20px;
      }

      .proyecto_tittle{
        font-size: 50px;
      }

      .proyectos{
        
          flex-direction:column;
          width: 100vw;
          margin-top: 20px;
      }

      .card{
        margin-bottom: 80px;
      }


    .btncontainer{
      display: none;
    }

    }
  


  @media (min-width: 576px) and (max-width: 1024px){
    .ContenidoPrincipal{
      height: 720px;
    }
    .imgcontainer{
      margin-top: 1px;
      margin-left: 1px;
      width: 350px;
      height: 600px;
    }
    .imgprincipal{
      width: 350px;
      height: 600px;
    }
    #texto{
      margin-top: 1px;
      width: 700px;
      height: 200px;
      color: whitesmoke;
    }

  .card-container{
    align-items:flex-start;
    width: 700px;
    height: 900px;
    margin-bottom: 200px;
    flex-wrap: wrap;  
  } 

  .proyectos{
    align-items:flex-start;
    width: 700px;
    height: 600px;
    flex-wrap: wrap;  
   
  }
  .btncontainer{
    display: none;
  }
  
}