* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: black;
    list-style: none;
    text-decoration: none;
    
}
  body {
    background: linear-gradient(90deg, white 50%, #808080 90%);
  }


  .logo {
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    height: 60px;
    background: transparent;
  }
  
  .nav .links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 6px;
    border-bottom: 1px;
    
  }

  a{
    color: white;
  }
  .links :hover {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    color: white;
    font-size: 120%;
  }
  
    .ContenidoPrincipal{
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    margin-top: 10px;
    text-align: center;
    flex-wrap: wrap;
    height: 100vh;
    

  }

  #videobackground{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    min-height: 100vh;
    object-fit: cover;
    z-index: -1;

  }

  #Titulo{
      
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      order: 1;
      text-align: left;
      width: 400px;
      height: 600px;
      text-transform: uppercase;
      background-image: linear-gradient(
      -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
      );
      background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-emphasis-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 65px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
  }
  #texto{
      color: white;
      margin-top: 50px;
      text-align: center;
      order: 3;
      width: 1000px;
      height: 500px;
  }



  .imgcontainer{
      order: 2;
      margin-left: 150px;
      margin-top: 10px;
      width: 500px;
      height: 600px;
  }

  .imgprincipal{
    width: 500px;
  }



  .btncontacto{
      
    width: 150px;
    height: 50px; 
      border: none;
    padding: 15px 30px;
    border-radius: 999px;
    font-weight: bold;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
    
    .btn{
        background-color: #808080;
        width: 150px;
        height: 50px; 
          border: none;
        padding: 15px 30px;
        border-radius: 999px;
        font-weight: bold;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
    }
  /* CARDS */

  .card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    width: 1300px;
    height: 400px;
  }

  .card{
    width: 300px;
    height: 350px;
    margin: 10px 10px 10px 10px;
    transition: 0.3s ease;
    border-radius: 5px;
  }

  .card:hover{
    cursor: pointer;
    box-shadow: 0 16px 32px 0 rgb(177, 19, 19);
  }
  .imgcard{
    width: 300px;
    height: 200px;
    border-radius: 5px 5px 0 0;
  }

  .cardtittle{
  width: 300px;
  height: 50px;
  font-family:Arial;
  font-size: 30px;
  }
  .cardtext{
    color: whitesmoke;
  }
 

   @media (max-width: 576px)
   {
     .nav .links{
       display: flex;
       flex-direction: column;
       color: white;
       }

      .logo{
        align-self: flex-start;
      }

      .link:hover{
        font-size: 101%;
      }

      .logo{
        height: 100px;
      }

      .ContenidoPrincipal{
        flex-direction: column;
        flex-wrap: nowrap;
      }

      #Titulo{
        font-size: 2em;
        width: 360px;
        height: 150px;
        text-align: center;

        
      }

      #texto{
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 350px;
        height: 200px;
        color: whitesmoke;
        text-align: center;
        order: 2;
      }

      .imgcontainer{
        order: 3;
        margin-left: 10px;
        width: 300px;
        height: 300px;
      }
      .imgprincipal{
        width: 300px;
        height: 250px;
      }
    
      .card-container{
        flex-direction:column;
        width: 350px;
        height: 100vh;
      }


    }
  


  @media (min-width: 576px) and (max-width: 1024px){
    .ContenidoPrincipal{
      height: 720px;
    }
    .imgcontainer{
      margin-top: 1px;
      margin-left: 1px;
      width: 350px;
      height: 600px;
    }
    .imgprincipal{
      width: 350px;
      height: 600px;
    }
    #texto{
      margin-top: 1px;
      width: 700px;
      height: 200px;
      color: whitesmoke;
    }
  .card-container{
    align-items:flex-start;
    width: 700px;
    height: 1000px;
    flex-wrap: wrap;  
  } 
  
}